/* * is universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background: #f2f2f2;
}

nav {
  background: #1b1b1b;
}

nav .logo {
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 70px;
}

/* The clear property specifies on which sides of an element 
floating elements are not allowed to float. */

nav:after {
  content: "";
  clear: both;
  /* No floating elements allowed on either the left or the right side */
  display: table;
  /* Let the element behave like a <table> element */
}

nav ul {
  float: right;
  list-style: none;
  margin-left: 40px;
  position: relative;
  /* absolute 	The element is positioned relative to its first positioned (not static) ancestor element 	
fixed 	The element is positioned relative to the browser window 	
relative 	The element is positioned relative to its normal position, so "left:20px" adds 20 pixels to the element's LEFT position */
}

nav ul li {
  float: left;
  display: inline-block;
  /* One common use for display: inline-block is to display list items horizontally instead of vertically. */
  background: #1b1b1b;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  line-height: 70px;
  font-size: 20px;
  padding: 8px 15px;
}

nav ul li a:hover {
  color: cyan;
  border-radius: 5px;
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
}

nav ul ul {
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
  border-top: 3px solid cyan;
}

nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-items;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a{
    line-height: 50px;

}

nav ul ul li a:hover {
    color: cyan;
    box-shadow: none;
}

nav ul ul ul{
    border-top: none;
}

nav ul ul ul li {
  position: relative;
  top: -70px;
  left: 150px;
}

.fa-plus{
    margin-left: 40px;
    font-size: 15px;

}