{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>navbar</title>
    <link href="{% static 'navbar.css' %}" rel="stylesheet">
</head>
<body>
<nav>
    <div class="logo">Tanmay Patel</div>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
</nav>
</body>
</html>